<div class="container-fluid py-4">
    <h4 class="fs-4 text-dark mb-3">Your Chat Rooms</h4>
    <ul class="list-group">
        {% for chat in single_chats_with_other_user %}
            <li class="list-group-item">
                <a hx-get="{% url 'chat_room' chat.chat.id %}"
                   hx-target=".chat-content"
                   hx-swap="innerHTML"
                   class="d-block text-dark nav-link">
                    <strong>{{ chat.other_user.username }}</strong>
                    {% if chat.chat.last_message.sender == request.user %}
                        <strong>{{ chat.chat.last_message.sender.username }}</strong>
                        <br>
                        <small class="text-muted">You:
                            {{ chat.chat.last_message.content|truncatechars:16 }}
                        </small>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
    <ul class="list-group">
        {% for room in group_chats %}
            <li class="list-group-item">
                <a hx-get="{% url 'chat_room' room.id %}"
                   hx-target=".chat-content"
                   hx-swap="innerHTML"
                   class="d-block text-dark nav-link">
                    <strong>{{ room.name|default:"Unnamed Group" }}</strong>
                    {% if room.last_message %}
                        <br>
                        <small class="text-muted">{{ room.last_message.sender.username }}: {{ room.last_message.content|truncatechars:16 }}</small>
                    {% endif %}
                </a>
            </li>
        {% empty %}
            <div class="d-flex flex-column justify-content-start">
                <small class="text-muted mt-3">No messages yet. Start by sending a message!<i class="bi bi-chat-dots text-success"></i></small>
                <button class="btn btn-warning rounded-pill w-80 w-sm-auto d-flex align-items-center justify-content-between px-3 py-2 mt-3 text-white">
                    Start a new chat
                    <i class="bi bi-arrow-right text-white fs-6"></i>
                </button>
                <div id="new-chat-modal"
                     class="modal modal-blur fade"
                     style="display: none"
                     aria-hidden="false"
                     tabindex="-1">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
                         role="document">
                        <div class="modal-content w-100">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    <i class="bi bi-x"></i>Close
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Modal body text goes here.</p>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-action list-group-item-success  d-flex justify-content-between align-items-center">
                                        Anna <a href="#"
    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Add</a>
                                    </li>
                                    <li class="list-group-item list-group-item-action list-group-item-success  d-flex justify-content-between align-items-center">
                                        Anna <a href="#"
    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Add</a>
                                    </li>
                                    <li class="list-group-item list-group-item-action list-group-item-success  d-flex justify-content-between align-items-center">
                                        Anna <a href="#"
    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Add</a>
                                    </li>
                                    <li class="list-group-item list-group-item-action list-group-item-success  d-flex justify-content-between align-items-center">
                                        Anna <a href="#"
    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Add</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
</div>
