{% if room %}
    <h5 class="text-dark p-2 border mt-2">
        <p>
            Chat Room:<span class="fw-bold text-primary">{{ room.name | default:"Direct chat" }}</span>
        </p>
    </h5>
    <div id="message-list"
         class="border rounded p-2 mb-3 bg-light"
         style="height: 400px;
                overflow: auto">{% include "partials/message_list.html" %}</div>
    <!-- SKICKAR-ETT-NYTT-MEDDELANDE -->
    <form hx-post="{% url 'send_message' room.id %}"
          hx-target="#message-list"
          hx-swap="innerHTML"
          class="d-flex gap-2">
        {% csrf_token %}
        <input type="text"
               name="message"
               class="form-control"
               placeholder="enter your message..."
               required>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
{% else %}
    <form class="d-flex flex-column gap-2 p-3 mt-5 mx-auto"
          style="max-width: 500px;
                 height: 100%;
                 border-radius: 1rem">
        {% csrf_token %}
        <textarea name="message"
                  class="form-control bg-light text-dark "
                  rows="3"
                  placeholder="Enter your message..."
                  style="border: none;
                         border-radius: 1rem"></textarea>
        <button type="submit"
                class="btn mt-2 py-2 btn-warning text-white fw-bold"
                style="border-radius: 50px">Send</button>
    </form>
{% endif %}
