<!-- <div class="modal-header">
    <h5 class="modal-title">Start a New Chat</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      {% for user in users %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ user.username }}
        <a hx-post="{% url 'create_direct_chat' user.id %}" hx-target=".chat-content" hx-swap="innerHTML" class="btn btn-sm btn-primary">
           Chat
        </a>
      </li>
      {% empty %}
      <li class="list-group-item text-muted">No users available</li>
      {% endfor %}
    </ul>
  </div>
   -->
