{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    {% include 'partials/sidebar.html' %}
    <div class="row justify-content-center pt-5 vh-auto">
        <div class="col-md-12 text-start p-4 ">
            <a class="btn btn-lg goback-button"
               href="{% url 'landing_page' %}"
               type="button"><i class="bi bi-arrow-left"></i></a>
        </div>
        <hr />
        <div class=" col-md-6">
            <div class="card p-5 shadow-sm mb-5">
                <h2 class="d-flex justify-content-start pb-3">Login</h2>
                <form method="POST" action="{% url 'login' %}" autocomplete="off">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="d-flex flex-column justify-content-start mb-3">
                            <div class="form-floating mb-3">
                                {% render_field field class="form-control" placeholder=field.name %}
                                <label>{{ field.label_tag }}</label>
                            </div>
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn mt-2 mb-2 btn-login">Login</button>
                </form>
                <p>
                    Dont have an account?<a href="{% url 'register' %}">Register here.</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
