{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/sidebar.html' %}
    <section class="hero text-light p-3 min-vh-100">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-end justify-content-start mt-n2">
                <h2 class="fw-bold sub-heading py-3">
                    Empower your team to collaborate smarter, work more effectively, and
                    achieve long-term
                    <span class="text-success">success</span>.
                </h2>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-end px-2 get-started-btn-container">
                <div style="position: absolute; top: 24rem; right: 6rem">
                    <a class="btn btn-lg btn-get-started"
                       type="button"
                       href="{% url 'register' %}">GET STARTED</a>
                    <p class="mt-2 fs-6">
                        Already have an account?
                        <a href="{% url 'login' %}" class="text-light">Log in here.</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1 d-flex justify-content-center image-container">
                <img src="{% static 'images/img-2.svg' %}"
                     alt="Team Collaboration-image"
                     class="img-fluid object-fit-cover image-round"
                     style="width: 70%;
                            height: auto;
                            max-width: 400px;
                            top: 20px;
                            left: 3rem" />
                <div class="overlay w-auto">
                    <h3 class="fs-3">Effektivisera samarbetet</h3>
                    <p class="lead">
                        Skapa en dynamisk arbetsmiljö där teammedlemmar enkelt kan samarbeta,
                        dela idéer och hantera projekt på ett smidigt sätt.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
