<!-- INNER SIDEBAR -->
<ul class="nav d-flex flex-column">
    <li class="nav-item ">
        <a class="nav-link gap-2" href="#"><i class="bi bi-person"></i>Online</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#"><i class="bi bi-person-x"></i>Offline</a>
    </li>
    <hr class="border-light">
    <li class="nav-item  ms-3 mb-1">My Apps</li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-calendar-event"></i> Google Calendar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#"><i class="bi bi-envelope"></i> Outlook</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-translate"></i> DeepL</a>
    </li>
</ul>
