{% if message.sender == user %}
    {% csrf_token %}
    <div id="message-{{ message.id }}"
         class="d-flex justify-content-end mb-3 p-0">
        <div class="position-relative text-dark rounded-start rounded p-3"
             style="max-width:  75%;
                    background-color: #bbf7d0">
            {% if message.delete_message %}
                <small class="text-muted">(You deleted this message)</small>
            {% else %}
                <div>{{ message.content }}</div>
            {% endif %}
            {% if message.edited %}<small class="text-muted">(edited)</small>{% endif %}
            {% if message.file %}
                <div class="mt-2">
                    <a href="{{ message.file.url }}"
                       target="_blank"
                       class="text-decoration-none">📎 {{ message.filename }}</a>
                </div>
            {% endif %}
            <div style="position: absolute; bottom: 0; right: -10px;">
                <svg width="12" height="12" viewBox="0 0 12 12">
                    <path fill="#bbf7d0" d="M0,0 C5,10 12,10 12,12 L0,12 Z" />
                </svg>
            </div>
            <!--EDIT OCH DELETE-CHATT-KNAPPEN -->
            <div class="d-flex align-items-center justify-content-spacebetween mt-2">
                <button class="btn btn-sm text-muted p-0"
                        hx-get="{% url 'edit_message_form' message.id %}"
                        hx-target="#message-{{ message.id }}"
                        hx-swap="outerHTML">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-sm text-muted p-0 "
                        hx-post="{% url 'delete_message' message.id %}"
                        hx-target="#message-{{ message.id }}"
                        hx-swap="outerHTML">
                    <i class="bi bi-trash3"></i>
                </button>
                <div class="text-muted small mt-1 text-end">{{ message.timestamp|date:"H:i d/m/Y" }}</div>
            </div>
        </div>
    {% else %}
        <!-- OTHER USER -->
        <div id="message-{{ message.id }}"
             class="d-flex justify-content-start mb-3">
            <div class="position-relative rounded-end rounded-top p-3"
                 style="max-width: 75%;
                        background-color: #E7E6E9">
                <strong class="d-block mb-1">{{ message.sender.username }}</strong>
                {% if message.delete_message %}
                    <small class="text-muted">(This message was deleted)</small>
                {% else %}
                    {{ message.content }}
                    {% if message.file %}
                        <div class="mt-2">
                            <a href="{{ message.file.url }}"
                               target="_blank"
                               class="text-decoration-none"><i class="bi bi-paperclip"></i> {{ message.filename }}</a>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="text-muted small mt-1">{{ message.timestamp|date:"H:i d/m/Y" }}</div>
                <div style="position: absolute; bottom: 0; left: -10px;">
                    <svg width="12" height="12" viewBox="0 0 12 12">
                        <path fill="#E7E6E9" d="M12,0 C7,10 0,10 0,12 L12,12 Z" />
                    </svg>
                </div>
            </div>
        </div>
    {% endif %}
