<!-- SIDEBAR -->
<ul class="nav d-flex flex-column">
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="bi bi-three-dots icon"></i>menu</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="bi bi-headset icon"></i>direct call</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="bi bi-person-video icon"></i> video chat</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'dashboard/student/chat' %}" class="nav-link"><i class="bi bi-chat-right icon"></i> direct chat</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="bi bi-people icon"></i> group chat</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'kanban_landing' %}"  class="nav-link"><i class="bi bi-kanban icon"></i> my kanban</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="bi bi-book icon"></i> my courses</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="bi bi-bell icon"></i> add notifications</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="bi bi-journal-bookmark-fill icon"></i> my notebook</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="bi bi-file-earmark-arrow-up icon"></i> share file</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="bi bi-chat-right-dots icon"></i> chat history</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'login' %}" class="nav-link"><i class="bi bi-door-open icon"></i> Log out</a>
    </li>
</ul>
