{% load static %}
<!---------------TOP NAVBAR-------------->
<!-- {% if request.resolver_match.url_name not in "dashboard_student dashboard_teacher dashboard_admin dashboard/student/chat" %} -->
<nav class="navbar navbar-expand-lg position-relativ navbar-dark top-navbar vh-auto">
    <a href="/"
       class="title-color fs-md-4 fw-bold text-decoration-none mx-1 d-inline-block order-lg-1">Skylearn</a>
    <a role="button"
       class="explore-link px-3 text-decoration-none order-lg-2"
       href="#"
       data-bs-toggle="offcanvas"
       data-bs-target="#sidebarOffcanvas">
        Explore
        <i class="bi bi-arrow-right-short"></i>
    </a>
    <img src="{% static 'images/img-1.svg' %}"
         alt="image"
         class="img-fluid d-none d-sm-block position-absolute top-0 end-0 object-fit-cover"
         style="width: 100%;
                height: auto;
                max-width: 500px" />
</nav>
<!-- Offcanvas-meny (sidebar) -->
<div class="offcanvas_container">
    <div class="offcanvas offcanvas-start custom-sidebar"
         tabindex="-1"
         aria-labelledby="sidebarMenuLabel"
         id="sidebarOffcanvas">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title sidebar-title fs-4" id="sidebarMenuLabel">Skylearn</h5>
            <a role="button"
               id="close-offcanvas"
               class="sidebar-close-btn"
               data-bs-dismiss="offcanvas"
               aria-label="Close">Close
                <i class="bi bi-arrow-right-short"></i>
            </a>
        </div>
        <div class="offcanvas-body">
            {% if user.is_authenticated %}
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'landing_page' %}" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Explore Courses</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Features</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Success Stories</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">About us</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">FAQ</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Support</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Get in touch</a>
                    </li>
                </ul>
            {% else %}
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'landing_page' %}" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Explore Courses</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Features</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Success Stories</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">About us</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">FAQ</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Support</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Get in touch</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
