<h3 class="text-warning lead fw-bold text-start my-4 mb-5 ms-1 fs-2 custom-soft-skills-heading">
    IMPORTANT SOFT SKILLS TRAINING FROM SkyLearn
</h3>
<div class="d-flex justify-content-between flex-wrap gap-3">
    <div class="col-md-3 col-sm-12 ">
        <div class="card soft-skills-card">
            <div class="card-body">
                <img src="../../../static/images/istockphoto-3.jpg"
                     class="card-img-top"
                     alt="image">
                <h6 class="text-muted">Employee Training & Development</h6>
                <h5 class="card-title fw-semibold">4 Ways to Practice Mindful Communication at Work</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur...</p>
                <a href="#" class="btn learn-more-link">Learn more<i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 ">
        <div class="card soft-skills-card">
            <div class="card-body ">
                <img src="../../../static/images/istockphoto-3.jpg"
                     class="card-img-top"
                     alt="image">
                <h6 class="text-muted">Employee Training & Development</h6>
                <h5 class="card-title fw-semibold">4 Ways to Practice Mindful Communication at Work</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur...</p>
                <a href="#" class="btn learn-more-link">Learn more<i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="card soft-skills-card">
            <div class="card-body">
                <img src="../../../static/images/istockphoto-3.jpg"
                     class="card-img-top"
                     alt="image">
                <h6 class="text-muted">Employee Training & Development</h6>
                <h5 class="card-title fw-semibold">4 Ways to Practice Mindful Communication at Work</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur...</p>
                <a href="#" class="btn learn-more-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
