<div class="modal fade" id="reusableModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen-md-down">
        <div class="modal-content ">
            <form method="post" action="{% url 'add_task_form' board.id %}"
                  class="htmx-close-modal">
                {% csrf_token %}
                <div class="modal-header bg-dark rounded-top ">
                    <h5 class="modal-title text-light fw-semibold d-flex align-items-center">
                        Add a issue
                        <i class="bi bi-list-check ms-1 mt-1"></i>
                    </h5>
                    <button type="button"
                            class="btn-close btn-close-white"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                {% csrf_token %}
                <div class="modal-body">{{ form }}</div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark">Save task</button>
                </div>
            </form>
        </div>
    </div>
</div>
