<div class="modal fade" id="reusableModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">Project Roadmap<i class="bi bi-bar-chart ms-1 mt-1"></i></h5>
                <button type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body bg-light">
                <div class="container-fluid px-5">
                    <div class="row">
                        {% if board %}
                        <div class="col-md-12">
                            <h6 class="text-muted">Status Overview</h6>
                            <img src="{% url 'sprint_chart_image' board.id %}"
                                 class="img-fluid rounded border"
                                 alt="Graph image">
                        </div>
                        {% else %}
                        <p class="text-muted text-center">Board not found</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
