{% extends 'dashboard_student.html' %}
{% block main_content %}
    {% csrf_token %}
    {% if board %}
        <div class="container-fluid kanban-board p-1">
            <!-- VISA ERROR OM DET FINNS -->
            {% if messages %}
                {% for message in messages %}{{ message }}{% endfor %}
            {% endif %}
            {% include 'partials/board_topbar.html' %}
            <div class="kanban-scroll-wrapper">
                <!-- BACKLOG COLUMN -->
                <div class="kanban-column flex-shrink-0 sortable-item "
                     data-status="backlog"
                     id="backlog">
                    <div class="card backlog border-0  d-flex flex-column ">
                        <h6 class="card-title text-uppercase py-2">Backlog</h6>
                        <div class="items-list px-2 sortable mb-3 vh-100 ">
                            {% for task in tasks %}
                                {% if task.status == 'backlog' %}
                                    {% include 'partials/tasks_list.html' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="btn btn-sm btn-primary d-flex justify-content-center align-self-end mt-auto w-100 fs-5"
                           href="{% url 'add_task' board.id %}">Add task</a>
                    </div>
                </div>
                <!-- TODO COLUMN -->
                <div class="kanban-column flex-shrink-0 sortable-item "
                     data-status="todo"
                     id="todo">
                    <div class="card todo min-vh-100">
                        <h6 class="card-title text-uppercase py-2">Todo</h6>
                        <div class="items-list px-2 sortable mb-3 vh-100 ">
                            {% for task in tasks %}
                                {% if task.status == 'todo' %}
                                    {% include 'partials/tasks_list.html' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- IN-PROGRESSCOLUMN -->
                <div class="kanban-column flex-shrink-0 sortable-item"
                     data-status="inprogress"
                     id="inprogress">
                    <div class="card inprogress min-vh-100">
                        <h6 class="card-title text-uppercase py-2">In-progress</h6>
                        <div class="items-list px-2 sortable mb-3 vh-100 ">
                            {% for task in tasks %}
                                {% if task.status == 'inProgress' %}
                                    {% include 'partials/tasks_list.html' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- REVIEW COLUMN -->
                <div class="kanban-column flex-shrink-0 sortable-item"
                     data-status="review"
                     id="review">
                    <div class="card review min-vh-100">
                        <h6 class="card-title text-uppercase py-2">Review</h6>
                        <div class="items-list px-2 sortable mb-3 vh-100 ">
                            {% for task in tasks %}
                                {% if task.status == 'review' %}
                                    {% include 'partials/tasks_list.html' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- COMPLETE COLUMN -->
                <div class="kanban-column flex-shrink-0 sortable-item"
                     data-status="complete"
                     id="complete">
                    <div class="card complete min-vh-100">
                        <h6 class="card-title text-uppercase py-2">Complete</h6>
                        <div class="items-list px-2 sortable mb-3 vh-100 ">
                            {% for task in tasks %}
                                {% if task.status == 'complete' %}
                                    {% include 'partials/tasks_list.html' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% include 'create_board.html' %}
        {% endif %}
    {% endblock %}
