<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-between">
            <h1 class="text-capitalize py-4"
                hx-get="{% url 'edit_board_name' board.id %}"
                hx-swap="outerHTML">
                <i class="text-primary">--{{ board.name }}--</i>
            </h1>
            <div class="task d-flex align-items-center ms-2">
                <img src="https://randomuser.me/api/portraits/thumb/women/49.jpg"
                     class="rounded-circle border"
                     width="50">
                <span class="text-primary ms-1 me-3 fs-4 fw-semibold">Hello {{ board.created_by.username }}</span>
            </div>
        </div>
    </div>
    <!-- DROPDOWN-->
    <div class="row">
        <div class="d-flex flex-wrap justify-content-between align-items-center gap-3">
            <div style="min-width: 200px; width: 250px;">
                <h6 class="fw-bold text-muted">My Projects</h6>
                <select class="form-select w-100" aria-label="Default select example">
                    <option disabled selected hidden>Choose a board</option>
                    {% for user_board in boards %}<option value="{{ user_board.id }}">{{ user_board.name }}</option>{% endfor %}
                </select>
            </div>
            <!-- SEARCH INPUT -->
            <div class="mt-4" style="min-width: 200px; width: 300px;">
                <input type="text"
                       name="q"
                       hx-get="/trigger_delay"
                       hx-trigger="keyup delay:500ms changed"
                       hx-target="#search-results"
                       placeholder="Search..."
                       class="form-control w-100 rounded-pill shadow-sm border-0 bg-light mb-3">
                <div id="search-results"></div>
            </div>
        </div>
    </div>
</div>
