{% if tasks %}
    {% csrf_token %}
    <form class="sortable list-group col-12 list-group-flush"
          hx-trigger="end"
          hx-post="{% url 'sort' %}"
          hx-target="#task-list">
        <div>
            <input type="hidden" name="task-order" value="{{ task.id }}" />
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center mb-2">
                <div class="card card-draggable shadow-sm mb-3 mt-2 p-2"
                     data-id="{{ task.id }}">
                    <div class="card-body">
                        {{ task.order }}
                        <div class="d-flex justify-content-between mb-2">
                            <h5 class="text-primary fw-bold text-uppercase">{{ task.title }}</h5>
                            <div class="task border rounded-pill d-flex align-items-center">
                                <img src="https://randomuser.me/api/portraits/thumb/women/49.jpg"
                                     class="rounded-circle"
                                     width="22"
                                     style="margin: 1px">
                                <span class="text-secondary ms-1 me-3" style="font-size: 0.9em;"><a href="#" class="text-primary ms-1">{{ task.created_by.username }}</a></span>
                            </div>
                        </div>
                        <p class="fw-semibold text-dark">{{ task.description|default:"No description" }}</p>
                        <div class="d-flex flex-column gap-2">
                            <div class="d-flex">
                                <i class="bi bi-calendar text-primary me-2">
                                    <span class="text-muted">Deadline: {{ task.deadline }}</span>
                                </i>
                            </div>
                            <div class="d-flex">
                                <i class="bi bi-person text-primary">
                                    <span class="text-muted">Created by: <b>{{ task.created_by.username }}</b> </span>
                                </i>
                            </div>
                            <div class="d-flex">
                                <i class="bi bi-clock text-primary">
                                    <span class="text-muted">Created at: {{ task.created_at|date:"F j Y" }}</span>
                                </i>
                            </div>
                        </div>
                        <div class="d-flex  justify-content-between align-items-center">
                            <button class="btn btn-primary btn-sm d-flex mt-3 ">View</button>
                            <button class="btn btn-primary btn-sm d-flex mt-3"
                                    style="cursor: pointer"
                                    hx-delete="{% url 'delete_task' task.id %}"
                                    hx-target="#task-list"
                                    hx-confirm="Are you sure you whant to delete this task?">remove</button>
                        </div>
                    </li>
                </div>
            </form>
        {% else %}
            <p>You do not have any tasks in your list</p>
        {% endif %}
